html
	head
		title HITS IP Checker
	body(style='text-align:center; font-family:Verdana; background-color:#00274c; color:#ffcb05;')
		h1 Your IP is:
		p(style='font-size:larger;font-weight:400;')= IP
		div(style='font-size:small;font-weight:100;') Browser: #{browser}
